@inherits LayoutComponentBase


<header>
    <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
        <div class="container-fluid justify-content-center">
            <div class="col-auto">
                <h1 class="navbar-brand">CSharp to json online converter</h1>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container-fluid">
        <div class="row gx-3">
            <div class="col-auto">
                Copyright © 2023 - Nikita Valpa
            </div>
            <div class="col-auto">
                <a href="https://github.com/NikitaValpa/CSharpToJsonOnlineConverter" target="_blank">
                    <img src="github-mark-white.svg" alt="github repository" style="width: 25px; height: 25px;" />
                </a>
            </div>
        </div>
    </div>
</footer>
