@model JsonCodeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row gx-2 mt-3 ms-2 justify-content-between">
    <div class="col-md-5">
        <form id="form1" asp-area="" asp-controller="Home" asp-action="Index">
            <label for="floatingTextarea" class="form-label">Your C# code</label>
        </form>
    </div>
    <div class="col-md-6">
        <p class="text-start">Json output or validation errors</p>
    </div>
</div>

<div class="row gx-2" style="box-sizing: content-box; min-height: 26em;">
    <div class="col">
        <textarea form="form1" name="code" required style="resize: none" spellcheck="false" class="form-control position-absolute" id="floatingTextarea" onscroll="syncScroll(this);" oninput="update(this.value);"></textarea>
        <pre id="highlighting" class="position-absolute" aria-hidden="true">
            <code id="highlighting-content" class="language-csharp"></code>
        </pre>
    </div>

    <div class="col border border-2 rounded-3 position-absolute start-50" id="output">
        <pre>
            <samp class="ms-3">@(Model.Json ?? Model.Errors)</samp>
        </pre>
    </div>
</div>

<div class="row gx-2 mt-3 justify-content-center">
    <div class="col-auto">
        <button type="submit" form="form1" class="btn btn-primary btn-lg">Convert</button>
    </div>
</div>

<script defer type="text/javascript" language="javascript">
    function update(text) {
        const resultElement = document.querySelector("#highlighting-content");

        if(text[text.length-1] === "\n") { // If the last character is a newline character
            text += " "; // Add a placeholder space character to the final line 
        }

        resultElement.innerHTML = text.replace(new RegExp("&", "g"), "&amp;").replace(new RegExp("<", "g"), "&lt;");
        Prism.highlightElement(resultElement);
    }

    function syncScroll(element) {
        const resultElement = document.querySelector("#highlighting");
        resultElement.scrollTop = element.scrollTop;
        resultElement.scrollLeft = element.scrollLeft;
    }
</script>

